apiVersion: v2
name: spotfire-platform
description: This is an umbrella chart for Spotfire, a chart that groups several Spotfire services together. It allows you to deploy, upgrade, and manage a Spotfire environment with optional Spotfire services.
type: application
version: 3.0.2
appVersion: 14.7-v5.0.2
kubeVersion: ">=1.24.0-0"
dependencies:
  - name: spotfire-server
    repository: file://../spotfire-server/
    version: 3.0.2
  - name: spotfire-webplayer
    repository: file://../spotfire-webplayer/
    version: 3.0.2
    condition: spotfire-webplayer.enabled
  - name: spotfire-automationservices
    repository: file://../spotfire-automationservices/
    version: 3.0.2
    condition: spotfire-automationservices.enabled
  - name: spotfire-terrservice
    repository: file://../spotfire-terrservice/
    version: 3.0.2
    condition: spotfire-terrservice.enabled
  - name: spotfire-rservice
    repository: file://../spotfire-rservice/
    version: 3.0.2
    condition: spotfire-rservice.enabled
  - name: spotfire-pythonservice
    repository: file://../spotfire-pythonservice/
    version: 3.0.2
    condition: spotfire-pythonservice.enabled
  - name: postgresql
    condition: postgresql.enabled
    repository: https://charts.bitnami.com/bitnami
    version: 14.3.*
