/*.*~
build.properties
lockfile
cache/
*.iml
*~
*.log
*.swp
*.tmp
.idea
.vagrant
.vscode
.DS_Store
.vscode/*

*.tar.gz
*.sdn
*.zip
*.exe
*.tgz
test-results.xml


helm/packages/*

**/Chart.lock

containers/scans/*
