/*.*~
build.properties
lockfile
cache/
*.iml
*~
*.log
*.swp
*.tmp
.idea
.vagrant
.DS_Store
.vscode/

# Containers
*.tar.gz
*.sdn
*.zip
*.exe
*.tgz

# Helm
helm/packages/*
helm/**/Chart.lock

# Scans
sbom/
cve/
license-report.csv

# mkdocs
.cache/
site/

# Python cache
**/__pycache__/
*.pyc