/*.*~
build.properties
lockfile
cache/
*.iml
*~
*.log
*.swp
*.tmp
.idea
.vagrant
.vscode
.DS_Store
.vscode/*

*.tar.gz
*.sdn
*.zip
*.exe
*.tgz
test-results.xml
venv/

helm/packages/*

**/Chart.lock

sbom/
cve/
license-report.csv
