{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

## Overview

This chart deploys the [Spotfire® Service for Python](https://docs.tibco.com/pub/sf-pysrv/latest/doc/html/TIB_sf-pysrv_install/pyinstall/topics/the_tibco_spotfire_service_for_python.html) service (Python service) on a [Kubernetes](http://kubernetes.io/) cluster using the [Helm](https://helm.sh/) package manager.

The Python service pod includes:
- A [Fluent Bit](https://fluentbit.io/) sidecar container for log forwarding.
- Service annotations for [Prometheus](https://prometheus.io/) scrapers. The Prometheus server discovers the service endpoint using these specifications and scrapes metrics from the exporter.
- Predefined configuration for horizontal pod autoscaling with [KEDA](https://keda.sh/docs) and Prometheus.

This chart is tested to work with [Elasticsearch](https://www.elastic.co/elasticsearch/), [Prometheus](https://prometheus.io/) and [KEDA](https://keda.sh/).

## Prerequisites

- A deployed Spotfire Server release using the [Spotfire Server](https://github.com/spotfiresoftware/spotfire-cloud-deployment-kit/blob/main/helm/charts/spotfire-server/README.md) chart.

## Usage

Replace all placeholders (shown in angle brackets like `<NAMESPACE>`) with your actual values before running the commands.

### Step 1: Create namespace

```bash
kubectl create namespace "<NAMESPACE>"
```

### Step 2: Prepare Spotfire Server service addresses

The Python service needs the Spotfire Server backend service name, and optionally the log-forwarder service name if you want application logs sent to the Spotfire log-forwarder.

If the Spotfire Server chart was installed in the same namespace with the release name `<SPOTFIRE_SERVER_RELEASE>`, typical values are:

- `nodemanagerConfig.serverBackendAddress="<SPOTFIRE_SERVER_RELEASE>-spotfire-server"`
- `logging.logForwarderAddress="<SPOTFIRE_SERVER_RELEASE>-log-forwarder"` when the Spotfire Server chart log-forwarder is enabled

### Step 3: Deploy the Spotfire Service for Python chart

Create a `values.yaml` file (for example, `spotfire-pythonservice-values.yaml`). See the [Values table](#values) for details of the values.

```yaml
# spotfire-pythonservice-values.yaml
acceptEUA: true

global:
  spotfire:
    image:
      registry: "<REGISTRY>"
      pullPolicy: Always

nodemanagerConfig:
  serverBackendAddress: "<SPOTFIRE_SERVER_SERVICE>"

logging:
  logForwarderAddress: "<LOG_FORWARDER_SERVICE>"
```

Install the chart:

```bash
helm install "<SPOTFIRE_PYTHONSERVICE_RELEASE>" . \
  --namespace="<NAMESPACE>" \
  --create-namespace \
  --values spotfire-pythonservice-values.yaml
```

**Note**:
- Setting `acceptEUA: true` means you agree that your use of the Spotfire software is governed by the terms of the [Cloud Software Group, Inc. End User Agreement](https://www.cloud.com/legal/terms).
- Replace `<REGISTRY>` with your private registry address where the Spotfire container images are stored.
- Replace `<SPOTFIRE_SERVER_SERVICE>` with the Spotfire Server service name that the Python service should connect to.
- Replace `<LOG_FORWARDER_SERVICE>` with the log-forwarder service name if you want to forward logs to the Spotfire log-forwarder. If you do not want to use a log-forwarder service, omit `logging.logForwarderAddress`.

Check pod status:

```bash
kubectl get pods --namespace "<NAMESPACE>" \
  -l "app.kubernetes.io/name=spotfire-pythonservice,app.kubernetes.io/instance=<SPOTFIRE_PYTHONSERVICE_RELEASE>"
```

## Configuration

### Custom configuration properties

To set [Custom configuration properties](https://docs.tibco.com/pub/sf-pysrv/latest/doc/html/TIB_sf-pysrv_install/_shared/install/topics/custom_configuration_properties.html), add the property names as keys under the `configuration` section in your values file.

Example:

```yaml
configuration:
  # The maximum number of Python engine sessions that are allowed to run concurrently in the Python service.
  engine.session.max: "5"

  # The number of Python engines preallocated and available for new sessions in the Python service queue.
  engine.queue.size: "10"
```

### How to add additional Python packages

Configure `volumes.packages` to mount a persistent volume, which can contain additional Python packages for the Python service to use. See the **Values** section for more information on mounting the volume for the packages.

#### How to install packages using pip to a target folder

You can populate a packages folder by following the instructions in [Installing Python Packages Manually](https://docs.tibco.com/pub/sf-pysrv/latest/doc/html/TIB_sf-pysrv_install/pyinstall/topics/installing_python_packages_manually.html). Here is an example of how to create a packages folder from a requirements.txt file:

```bash
python -m pip install --target=/local/path/to/packages -r requirements.txt
```

**Note:** For spotfire-pythonservice to use the packages, the packages must be copied to a PersistentVolume that you create and then provide to the helm chart during installation.

## Scaling

To change the number of replicas managed by Helm, update `replicaCount` in your values file and run `helm upgrade`.

Example:

```yaml
replicaCount: 3
```

```bash
helm upgrade "<SPOTFIRE_PYTHONSERVICE_RELEASE>" . \
  --namespace="<NAMESPACE>" \
  --values spotfire-pythonservice-values.yaml
```

### Autoscaling with KEDA

To use [KEDA](https://keda.sh/docs) for autoscaling, first install KEDA in the Kubernetes cluster. You must also install a Prometheus instance that scrapes metrics from the Spotfire pods.

Example: A `values.yaml` snippet configuration for enabling autoscaling with KEDA:
```yaml
resources:
  limits:
    cpu: 5
kedaAutoscaling:
  enabled: true
  spotfireConfig:
    prometheusServerAddress: http://prometheus-server.monitor.svc.cluster.local
  threshold: 3
  minReplicas: 1
  maxReplicas: 3
```

The `spotfire-pythonservice` has the following autoscaling defaults:
- metric: `spotfire_service_queue_engines_inUse` (_serviceQueueEnginesInUse_ Python service counter).
- query: the sum of `spotfire_service_queue_engines_inUse` of the Python service instances for the release name.

The counter _serviceQueueEnginesInUse_ provides the total number of engines currently executing.
By default, the Python service has `number of cores - 1` available slots, which means that `kedaAutoscaling.threshold` should be synchronized with `resources.limits.cpu`.
Typically, you want to scale out before all the available capacity is taken.
Therefore, the `kedaAutoscaling.threshold` should be lower than `resources.limits.cpu`.
Note that clients requesting a slot typically wait until a slot is available.

For more information, see [Monitoring Spotfire Service for Python using JMX](https://docs.tibco.com/pub/sf-pysrv/latest/doc/html/TIB_sf-pysrv_install/_shared/install/topics/monitoring_the_service_using_jmx.html).

**Note**: You can tune `nodemanagerConfig.preStopDrainingTimeoutSeconds` and other timeouts (for example, `engine.execution.timeout` and `engine.session.maxtime`) so that long-running jobs are not aborted prematurely when an instance is stopped to scale in.
See [Engine Timeout](https://docs.tibco.com/pub/sf-pysrv/latest/doc/html/TIB_sf-pysrv_install/_shared/install/topics/engine_timeout.html) for more details.

For more advanced scenarios, see [kedaAutoscaling.advanced](https://keda.sh/docs/latest/concepts/scaling-deployments/#advanced) and [kedaAutoscaling.fallback](https://keda.sh/docs/latest/concepts/scaling-deployments/#fallback).

Additionally, you can define your own [custom scaling triggers](https://keda.sh/docs/latest/concepts/scaling-deployments/#triggers). Helm template functionality is available:
```yaml
kedaAutoscaling:
  triggers: {} # list of triggers to activate scaling of the target resource
```

**Note**: For more details on the autoscaling defaults, see `templates/keda-autoscaling.yaml` in the chart.

#### Update the Pod Deletion Cost annotation automatically

The [controller.kubernetes.io/pod-deletion-cost](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#pod-deletion-cost) pod annotation influences in which order Kubernetes selects the pod to delete, for example, during scale-in.

Note that pod annotations should not be updated 'too' often (minutes rather than seconds), depending on the size of the cluster. The reason for this is that the Kubernetes API server is highly optimized for reads. `sleepIntervalSeconds` controls how often the updater should run, `thresholdPercent` and `minAbsDelta` controls how large the change must be for the annotation to be updated, that is, it specifies the size of a meaningful change.

```yaml
podDeletionCost:
  enabled: true
```

The `spotfire-pythonservice` has the following defaults:
- cost formula: `spotfire_service_queue_engines_inUse`.
- sleepIntervalSeconds: `120`.
- `thresholdPercent`: `10`
- `minAbsDelta`: `1`

## Performance and Storage

### Improved performance and concurrency for temporary folder

To optimize data reuse, the Python service uses its temporary folder (default: `/tmp`) to store temporary files and intermediate data. In scenarios where large data sets or concurrent computations are involved, the default temporary folder might become a bottleneck, impacting performance and throughput. It is recommended to use a more performant and larger Kubernetes volume.

Example: A `values.yaml` snippet for optimizing the Python service temp disk performance.
```yaml
extraVolumeMounts:
  - mountPath: /tmp
    name: pythonservice-temp-dir-volume
extraVolumes:
  - name: pythonservice-temp-dir-volume
    ephemeral: # See Kubernetes documentation for ephemeral volumes: https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/
      volumeClaimTemplate:
        metadata:
          labels:
            type: pythonservice-ephemeral-volume
        spec:
          accessModes: ["ReadWriteOnce"]
          storageClassName: <STORAGE_CLASS_NAME> # Replace with your storage class name.
          resources:
            requests:
              storage: 10Gi # Specify the desired storage size.
```

**Note**: For Azure AKS clusters, see also: [Use Azure Container Storage with local NVMe](https://learn.microsoft.com/en-us/azure/storage/container-storage/use-container-storage-with-local-disk).

## Uninstalling

To uninstall the `<SPOTFIRE_PYTHONSERVICE_RELEASE>` release:

```bash
helm --namespace "<NAMESPACE>" uninstall "<SPOTFIRE_PYTHONSERVICE_RELEASE>"
```

## Upgrading

See [helm upgrade](https://helm.sh/docs/helm/helm_upgrade/) for command documentation.

### Upgrading Spotfire Server and Spotfire services

When you upgrade to a newer Spotfire Server version and newer Spotfire services versions, upgrade the Spotfire Server first, and then upgrade the Spotfire services.

### Upgrading helm chart version

Please review the [release notes](https://github.com/spotfiresoftware/spotfire-cloud-deployment-kit/releases) for any changed, moved, or renamed parameters before upgrading the release.

{{ template "chart.valuesSection" . }}
