apiVersion: v2
name: spotfire-server
description: A Helm chart for Spotfire Server.

type: application

version: 2.1.0

appVersion: "14.6.1"

kubeVersion: ">=1.24.0-0"

home: https://github.com/spotfiresoftware/spotfire-cloud-deployment-kit
sources:
 - https://github.com/spotfiresoftware/spotfire-cloud-deployment-kit

keywords:
  - spotfire
  - administration
  - analytics
  - data science
  - data access
  - data visualization
  - geoanalytics
  - streaming

dependencies:
  - name: fluent-bit
    alias: log-forwarder
    repository: https://fluent.github.io/helm-charts
    version: 0.54.*
    condition: log-forwarder.enabled
  - name: haproxy
    repository: https://haproxytech.github.io/helm-charts
    version: 1.26.*
    condition: haproxy.enabled
  - name: spotfire-common
    repository: file://../spotfire-common
    version: 2.1.0

annotations:
  license: Apache 2.0
  licenseUrl: https://github.com/spotfiresoftware/spotfire-cloud-deployment-kit/blob/main/LICENSE
